[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "tools/sokol-tools-bin"]
	path = tools/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = https://github.com/recp/cglm.git
